USE [master]
GO
/****** Object:  Database [SpotifyApp]    Script Date: 21/10/2020 11:28:04 ******/
CREATE DATABASE [SpotifyApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SpotifyApp', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.GULDUR\MSSQL\DATA\SpotifyApp.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SpotifyApp_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.GULDUR\MSSQL\DATA\SpotifyApp_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SpotifyApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SpotifyApp]
GO
/****** Object:  Table [dbo].[Playlist]    Script Date: 21/10/2020 11:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlist](
	[idPlaylist] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](1000) NULL,
	[SpotifyPlString] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPlaylist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlaylistSong]    Script Date: 21/10/2020 11:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistSong](
	[idPlaylist] [int] NULL,
	[idSong] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Song]    Script Date: 21/10/2020 11:28:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Song](
	[idSong] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](1000) NULL,
	[SpotifySongString] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[PlaylistSong]  WITH CHECK ADD FOREIGN KEY([idPlaylist])
REFERENCES [dbo].[Playlist] ([idPlaylist])
GO
ALTER TABLE [dbo].[PlaylistSong]  WITH CHECK ADD FOREIGN KEY([idSong])
REFERENCES [dbo].[Song] ([idSong])
GO
USE [master]
GO
